<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/houses/index.css" />
<%- include('../partials/nav') %>

<h2>Top Picks (Rated 4+ and Within Budget)</h2>
<div class = "wishlist-page">
  <% favHouses.forEach(house => { %>
    <a href="/houses/<%= house._id %>">
      <div class="house-tile"> 
        <div id="image-tile"><img id="image-tile" src="<%= house.houseImage %>" alt="house image"></div>
        <div id="house-details">
          <a class="pricetag">$ <%= house.price %></a><br> 
          <a class="address-bed-bath-size"><%= house.address.streetName %>, <%= house.address.city %></a>
          <br>
          <a class="address-bed-bath-size"><%= house.bedrooms %> Bed | <%= house.bathrooms %> Bath | <%= house.size %> sq ft</a>
        </div>
      </div>
    </a>
  <% }) %>

</div>

<h2>Highly Rated Finds (Rating Over 4)</h2>
<div class = "wishlist-page">
  <% fourPlusRatingHouses.forEach(house => { %>
    <a href="/houses/<%= house._id %>">
      <div class="house-tile"> 
        <div id="image-tile"><img id="image-tile" src="<%= house.houseImage %>" alt="house image"></div>
        <div id="house-details">
          <a class="pricetag">$ <%= house.price %></a><br> 
          <a class="address-bed-bath-size"><%= house.address.streetName %>, <%= house.address.city %></a>
          <br>
          <a class="address-bed-bath-size"><%= house.bedrooms %> Bed | <%= house.bathrooms %> Bath | <%= house.size %> sq ft</a>
        </div>
      </div>
    </a>
  <% }) %>

</div>

<h2>Budget-Friendly Finds</h2>
<div class = "wishlist-page">
  <% budgetHouses.forEach(house => { %>
    <a href="/houses/<%= house._id %>">
      <div class="house-tile"> 
        <div id="image-tile"><img id="image-tile" src="<%= house.houseImage %>" alt="house image"></div>
        <div id="house-details">
          <a class="pricetag">$ <%= house.price %></a><br> 
          <a class="address-bed-bath-size"><%= house.address.streetName %>, <%= house.address.city %></a>
          <br>
          <a class="address-bed-bath-size"><%= house.bedrooms %> Bed | <%= house.bathrooms %> Bath | <%= house.size %> sq ft</a>
        </div>
      </div>
    </a>
    <% }) %>

</div>

<%- include('../partials/footer') %>
