<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/houses/index.css" />
<script defer src="/javascripts/helper.js"></script>
<%- include('../partials/nav') %>

<% if (user) { %>
<% if (typeof houseCount !== 'undefined' && houseCount > 1) { %>
  <h4 id="notification">
    Looks like this house got fans, it's been saved <%= houseCount %> time(s) by other users before!!
  </h4>
<% } %>


<h2>Planning to Visit</h2> 
<div class = "planning-to-visit">
<a href="/houses/new"><div class="house-tile" id="add-home">
</div></a>

<% houses.forEach(house => { %>
  <% if (house.addedBy.equals(user?._id) && house.visited === 'No' ) { %>
<a href="/houses/<%= house._id %>">
  <div class="house-tile"> 
    <div id="image-tile"><img id="image-tile" src="<%= house.houseImage %>" alt="house image"></div>
    <div id="house-details">
      <a class="pricetag">$ <%= house.price %></a><br> 
      <a class="address-bed-bath-size"><%= house.address.streetName %>, <%= house.address.city %></a>
      <br>
      <a class="address-bed-bath-size"><%= house.bedrooms %> Bed | <%= house.bathrooms %> Bath | <%= house.size %> sq ft</a>
    </div>
  </div>
</a>
  <% } %>
<% }) %>
</div>

<h2>Visited Houses </h2>
<div class = "visited-homes">
  <% houses.forEach(house => { %>
    <% if (house.addedBy.equals(user?._id) && house.visited === 'Yes' ) { %>
      <a href="/houses/<%= house._id %>">
        <div class="house-tile"> 
          <div id="image-tile"><img id="image-tile" src="<%= house.houseImage %>" alt="house image"></div>
          <div id="house-details">
            <a class="pricetag">$ <%= house.price %></a><br> 
            <a class="address-bed-bath-size"><%= house.address.streetName %>, <%= house.address.city %></a>
            <br>
            <a class="address-bed-bath-size"><%= house.bedrooms %> Bed | <%= house.bathrooms %> Bath | <%= house.size %> sq ft</a>
          </div>
        </div>
      </a>
  <% } %>
  <% }) %>
</div>
<% } %>
<%- include('../partials/footer') %>