<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/houses/index.css" />
<script defer src="/javascripts/helper.js"></script>
<%- include('../partials/nav') %>

<% if (typeof houseCount !== 'undefined' && houseCount > 1) { %>
  <h4 id="notification">
    There are <%= houseCount-1 %> houses saved from this neighborhood already!!!
  </h4>
<% } %>


<h2>Planning to Visit</h2> 
<div class = "planning-to-visit">
<a href="/houses/new"><div class="house-tile" id="add-home">
</div></a>
  <% houses.forEach(house => { %>
    <% if (house.addedBy.equals(user?._id) && house.visited === 'No' ) { %>
    <a href="/houses/<%= house._id %>">
    <div class="house-tile">
      <ul>
          <li>
          Price: <%= house.price %>
          </li>
            <br>
            <li>
          Number of bedrooms: <%= house.bedrooms %>
        </li>
            <br>
            <li>
          Number of bathrooms: <%= house.bathrooms %>
        </li>
      </ul>
    </div> 
    </a>
    <% } %>
    <% }) %>

</div>

<h2>Visited Homes </h2>
<div class = "visited-homes">
  <% houses.forEach(house => { %>
    <% if (house.addedBy.equals(user?._id) && house.visited === 'Yes' ) { %>
    <a href="/houses/<%= house._id %>">
    <div class="house-tile">
      <ul>
          <li>
          Price: <%= house.price %>
          </li>
            <br>
            <li>
          Number of bedrooms: <%= house.bedrooms %>
        </li>
            <br>
            <li>
          Number of bathrooms: <%= house.bathrooms %>
        </li>
      </ul>
    </div> </a>
    <% } %>
    <% }) %>
</div>
<%- include('../partials/footer') %>