<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<table>
  <tr>
    <th colspan="2">House Details</th>
</tr>
<tr>
  <td>Price</td>
  <td><%= house.price %></td>
</tr>
<tr>
  <td>Type</td>
  <td><%= house.propertyType %></td>
</tr>
<tr>
  <td>Number of bedrooms</td>
  <td><%= house.bedrooms %></td>
</tr>
<tr>
  <td>Number of bathrooms</td>
  <td><%= house.bathrooms %></td>
</tr>
</tr>
<tr>
  <td>Size</td>
  <td><%= house.size %></td>
</tr>
<tr>
  <td>Built year</td>
  <td><%= house.builtYear %></td>
</tr>
<tr>
  <td>Visted</td>
  <td><%= house.visited ? 'Visited' : 'Have\'t visited yet' %></td>
</tr>
</table>


<h2>Reviews</h2>


<table>
  <form id="add-review-form" action="/houses/<%= house.id %>/reviews" method="POST">
<tr>
    <th colspan="2">Add Review</th>
</tr>
<tr>
  <td> <label for="content-textarea">Notes</label></td>
  <td><textarea name="notes" id="content-textarea"></textarea></td>
</tr>
<tr>
  <td> <label for="rating-select">Rating:</label></td>
  <td><select name="rating" id="rating-select">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  </td>
</tr>
<tr>
  <th class="form-button" colspan="2"><button type="submit">Add</button></th>
</tr>

</form>
</table>

  
<%- include('../partials/footer') %>